.App {
  position: static;;
}

.App-header {
  display: flex;
  flex-direction: row;

  align-items: center;

  height: 50px;
}

.App-chooseFile {
  padding: 10px;
}

.App-link {
  color: #61dafb;
}

.App-table {
  width: 100%;
}

table, th, td {
  padding: 10px;
  border: 1px solid black;
  border-collapse: collapse;
}
